<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-4 text-center">
      <h4>Log In</h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <form class="col-sm-4" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group col-12">
        <label for="emaillog">E-mail</label>
        <input type="text" class="form-control" id="emaillog" placeholder="Enter your e-mail" formControlName="email">
      </div>
      <div class="form-group col-12">
        <label for="passwordlog">Password</label>
        <input type="password" class="form-control" id="passwordlog" placeholder="Create a password"
          formControlName="password">
      </div>
      <div class="form-group col-12 text-center" *ngIf="error">
        <p>Invalid e-mail or password</p>
      </div>
      <div class="form-group col-12">
        <input class="btn btn-warning btn-lg btn-block" type="submit" value="Log in" [disabled]="form.invalid">
      </div>
      <div class="form-group col-12 text-center">
        <h5 (click)="onClick()">Registration</h5>
      </div>
      <br>
      <span>Admin e-mail: admin@tut.by</span><br>
      <span>Admin password: admin</span>
    </form>
  </div>
</div>